*_test.go

build/*
docker/keycloak/*
docker-compose.yml
docker-compose.production.yml
.env
.env.example
.github/*

docker/augustin-plugin-data/pdf-files/*
docker/augustin-plugin-data/sample_data/*
scripts/*.py
scripts/*