# Backend
PORT=:3000
DB_HOST=augustin-db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=product_api

# Keycloak
KEYCLOAK_CLIENT_ID=GoClient
KEYCLOAK_CLIENT_SECRET=9OGqiDdguQHhPQ90MgPV7hEKFEE5A5jB
KEYCLOAK_REALM=augustin
KEYCLOAK_HOST=http://localhost:8080/

# Frontend
FRONTEND_URL=http://localhost:5173
