[submodule "docker/wordpress/plugins/augustin-wp-papers"]
	path = docker/wordpress/plugins/augustin-wp-papers
	url = https://github.com/augustin-wien/augustin-wp-papers.git
[submodule "docker/wordpress/wordpress-theme"]
	path = docker/wordpress/wordpress-theme
	url = https://github.com/augustin-wien/wordpress-theme.git
[submodule "docker/wordpress/themes/augustin-wp-theme"]
	path = docker/wordpress/themes/augustin-wp-theme
	url = git@github.com:augustin-wien/augustin-wp-theme.git
[submodule "docker/augustin-plugin"]
	path = docker/augustin-plugin
	url = https://github.com/augustin-wien/augustin-plugin
