services:
  augustin-frontend:
    build:
      context: ./docker/augustin-frontend
    ports:
      - "8060:80"
    environment:
      VITE_API_URL: ${BACKEND_HOST}
      VITE_SENTRY_DSN: ${VITE_SENTRY_DSN}
    depends_on:
      - augustin
  augustin:
    container_name: augustin
    env_file:
      - .env
    build:
      context: .
    volumes:
      - ./app:/app
      - ./email_templates:/app/templates
    command: >
        sh -c 'tern migrate --migrations ./migrations --config ./migrations/tern.conf &&
        mv ./migrations/011_trigger_add_prevent_dropping_and_deleting.sql ./migrations/011_trigger_add_prevent_dropping_and_deleting.sql.bak &&
        echo "CREATE TABLE Dummy (ID SERIAL PRIMARY KEY);" > ./migrations/011_sample_dummy_table.sql &&
        tern migrate --migrations ./migrations --config ./migrations/tern_test.conf &&
        rm ./migrations/011_sample_dummy_table.sql &&
        mv ./migrations/011_trigger_add_prevent_dropping_and_deleting.sql.bak ./migrations/011_trigger_add_prevent_dropping_and_deleting.sql &&
        go run main.go'

    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_HOST_TEST: ${DB_HOST_TEST}
      DB_PORT_TEST: ${DB_PORT_TEST}
      DEVELOPMENT: true
      DEBUG_payments: ${DEBUG_payments}
      FRONTEND_URL: ${FRONTEND_URL}
      VIVA_WALLET_SOURCE_CODE: ${VIVA_WALLET_SOURCE_CODE}
      VIVA_WALLET_SMART_CHECKOUT_CLIENT_ID: ${VIVA_WALLET_SMART_CHECKOUT_CLIENT_ID}
      VIVA_WALLET_SMART_CHECKOUT_CLIENT_KEY: ${VIVA_WALLET_SMART_CHECKOUT_CLIENT_KEY}
      VIVA_WALLET_VERIFICATION_KEY: ${VIVA_WALLET_VERIFICATION_KEY}
      VIVA_WALLET_API_URL: ${VIVA_WALLET_API_URL}
      VIVA_WALLET_ACCOUNTS_URL: ${VIVA_WALLET_ACCOUNTS_URL}
      SMTP_SERVER: ${SMTP_SERVER}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_SENDER_ADDRESS: ${SMTP_SENDER_ADDRESS}
      SMTP_SENDER_NAME: ${SMTP_SENDER_NAME}
      BACKEND_HOST: ${BACKEND_HOST}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      SENTRY_DSN: ${SENTRY_DSN}
      FLOUR_WEBHOOK_URL: ${FLOUR_WEBHOOK_URL}
    depends_on:
      augustin-db:
        condition: service_healthy
    links:
      - augustin-db
      - augustin-db-test
      - keycloak
      - webhook-receiver
    ports:
      - "3000:3000"
    healthcheck:
      test: curl -f "$BACKEND_HOST/api/hello/" || exit 1
      interval: 60s   # check every minute
      timeout: 20s    # maximum time to wait for a response
      retries: 3      # number of retries before considering the container unhealthy
      start_period: 2m
  augustin-db:
    container_name: augustin-db
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      TZ: "UTC"
      PGTZ: "UTC"
    command: -p ${DB_PORT}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  augustin-db-test:
    container_name: augustin-db-test
    image: postgres:16.0
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      TZ: "UTC"
      PGTZ: "UTC"
    command: -p ${DB_PORT_TEST}
    ports:
      - "${DB_PORT_TEST}:${DB_PORT_TEST}"
    volumes:
      - dbdata-test:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    build: ./docker/keycloak
    container_name: augustin-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_FRONTEND_URL: ${KEYCLOAK_HOST}
      ROOT_LOGLEVEL: ALL
      KEYCLOAK_LOGLEVEL: DEBUG
      KC_HOSTNAME: ${KEYCLOAK_HOST}
      KC_PROXY_HEADERS: xforwarded
      KC_FRONTEND_URL: ${KEYCLOAK_HOST}
      KC_HOSTNAME_STRICT_BACKCHANNEL: true
      KC_PROXY: edge
      KC_HTTP_ENABLED: true
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/realms/master"]
      interval: 5s
      timeout: 2s
      retries: 15
    volumes:
      - ./docker/keycloak/import:/opt/keycloak/data/import:ro
      - ./docker/keycloak/export:/tmp/export
      - ./docker/keycloak/themes/augustin:/opt/keycloak/themes/augustin:ro

    command: start-dev --import-realm
    ports:
      - "8080:8080"
  wordpress-db:
    # We use a mariadb image which supports both amd64 & arm64 architecture
    image: mariadb
    # If you really want to use MySQL, uncomment the following line
    #image: mysql:8.0.27
    command: "--default-authentication-plugin=mysql_native_password"
    volumes:
      - wp_db_data:/var/lib/mysql
    restart: always
    environment:
      - MARIADB_DATABASE=${WORDPRESS_DB_NAME}
      - MARIADB_USER=${WORDPRESS_DB_USER}
      - MARIADB_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=true
      - MARIADB_MYSQL_LOCALHOST_USER=1
      - MARIADB_MYSQL_LOCALHOST_GRANTS=USAGE
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized" ]
      interval: 10s
      timeout: 5s
      retries: 5
    expose:
      - 3306
      - 33060
    ports:
      - 8091:3306
  wordpress:
    image: wordpress:latest
    volumes:
      - wp_data:/var/www/html
      - ./docker/wordpress/plugins/augustin-wp-papers:/var/www/html/wp-content/plugins/augustin-wp-papers
      - ./docker/wordpress/themes/augustin-wp-theme:/var/www/html/wp-content/themes/augustin-wp-theme

    ports:
      - 8090:80
    restart: always
    environment:
      - WORDPRESS_DB_HOST=wordpress-db
      - WORDPRESS_DB_USER=${WORDPRESS_DB_USER}
      - WORDPRESS_DB_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${WORDPRESS_DB_NAME}
      - AUGUSTIN_PARSER_URL=${AUGUSTIN_PARSER_URL}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      wordpress-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
  wpcli:
    container_name: wp-cli
    image: wordpress:cli-php8.2
    user: 0:0
    command: >
      sh -c " chmod +x /wpcli/entrypoint.sh && /wpcli/entrypoint.sh && tail -f
      /dev/null"
    volumes:
      - wp_data:/var/www/html
      - ./docker/wordpress/plugins/augustin-wp-papers:/var/www/html/wp-content/plugins/augustin-wp-papers
      - ./docker/wordpress/themes/augustin-wp-theme:/var/www/html/wp-content/themes/augustin-wp-theme
      - ./docker/wpcli/:/wpcli/
      - ./docker/augustin-plugin/:/wpcli/parser/

    environment:
      - WORDPRESS_DB_HOST=wordpress-db
      - WORDPRESS_DB_USER=${WORDPRESS_DB_USER}
      - WORDPRESS_DB_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${WORDPRESS_DB_NAME}
      - WORDPRESS_URL=${WORDPRESS_URL}
      - WORDPRESS_ADMIN_USER=${WORDPRESS_ADMIN_USER}
      - WORDPRESS_ADMIN_PASSWORD=${WORDPRESS_ADMIN_PASSWORD}
      - WORDPRESS_ADMIN_EMAIL=${WORDPRESS_ADMIN_EMAIL}

      - KEYCLOAK_URL=${KEYCLOAK_URL} 
    depends_on:
      wordpress-db:
        condition: service_healthy
      wordpress:
        condition: service_healthy
    links:
      - wordpress-db
  parser:
    build:
      context: ./docker/augustin-plugin
    ports:
      - "8070:8000"
    volumes:
      - ./docker/augustin-plugin-data/sample_data:/sample_data
      - ./docker/augustin-plugin-data/pdf-files:/pdf-files
      - ./docker/augustin-plugin/:/app
    # env_file:
    #   - path: ./docker/augustin-plugin/.env.example
    #     required: true # default
    #   - path: ./docker/augustin-plugin/.env
    #     required: false
    depends_on:
      wordpress:
        condition: service_healthy
  webhook-receiver:
    build:
      context: ./docker/webhook-receiver
    container_name: webhook-receiver
    ports:
      - "8081:8080"
    volumes:
      - ./webhook-logs:/app/logs
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
volumes:
  dbdata:
  wp_data:
  wp_db_data:
  dbdata-test:
  webhook-logs:
